<center>
    <h2>New York City</h2>
</center>
</br>
<body ng-controller="aboutController as aboutCtrl"></body>
<div>
    <center>
        <p>
            The City of New York, often called New York City (NYC) or simply New York, is the most populous city in the United States.
        </p>
    </center>
    <center>
        <p>
            New York City is global power city, and has been described as the cultural, financial, and media capital of the world, and
            exerts a significant impact upon commerce, entertainment, research, technology, education, politics, tourism,
            and sports. The city's fast pace defines the term New York minute. Home to the headquarters of the United Nations,
            New York is an important center for international diplomacy.
        </p>
    </center>
    <center>
        <p>
            Situated on one of the world's largest natural harbors, New York City consists of five boroughs, each of which is a separate
            county of the State of New York. The five boroughs – Brooklyn, Queens, Manhattan, The Bronx, and Staten Island
            – were consolidated into a single city in 1898.
        </p>
    </center>
    <center>
        <p>
            The Statue of Liberty greeted millions of immigrants as they came to the Americas by ship in the late 19th and early 20th
            centuries and is a world symbol of the United States and its ideals of liberty and peace. In the 21st century,
            New York has emerged as a global node of creativity and entrepreneurship, social tolerance, and environmental
            sustainability, and as a symbol of freedom and cultural diversity.
        </p>
    </center>
    <center>
        <p>
            Many districts and landmarks in New York City are well known, and the city received a record 62.8 million tourists in 2017,
            hosting three of the world's ten most visited tourist attractions in 2013. Several sources have ranked New York
            the most photographed city in the world. Times Square, iconic as the world's "heart" and its "Crossroads", is
            the brightly illuminated hub of the Broadway Theater District, one of the world's busiest pedestrian intersections,
            and a major center of the world's entertainment industry. The names of many of the city's bridges, skyscrapers,
            and parks are known around the world. Anchored by Wall Street in the Financial District of Lower Manhattan, New
            York City has been called both the most economically powerful city and the leading financial center of the world,
            and the city is home to the world's two largest stock exchanges by total market capitalization, the New York
            Stock Exchange and NASDAQ. Manhattan's real estate market is among the most expensive in the world. New York
            is home to the largest ethnic Chinese population outside of Asia, with multiple signature Chinatowns developing
            across the city. Providing continuous 24/7 service, the New York City Subway is one of the most extensive metro
            systems worldwide, with 472 stations in operation. Over 120 colleges and universities are located in New York
            City, including Columbia University, New York University, and Rockefeller University, which have been ranked
            among the top universities in the world.
        </p>
    </center>
</div>